<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>Main page</title>
</head>
<body>

<% if (public) { %>
    <%- include('publicMenu') -%>
<% }else{ %>
    <%- include('menu') -%>
<% } %>

<div class="main-profile">
    <h1><%= username %></h1>
    <img style="width: 200px;" src="/images/profile.png">
</div>
<% if (!public) { %>
    <div class="main-public"><h4>Public link</h4><a href="<%=publicLink%>"><%=publicLink%></a></div>
<% } %>
<div class="main-workplaces">
    <h2>Workplaces</h2>
    <% activities.forEach(function(activity){ %>
         <% if(activity.type == 'WORKPLACE'){ %>
            <%- include('activity', {activity: activity}) %>
        <% } %>
    <% }); %>
</div>

<div class="main-projects">
    <h2>Projects</h2>
    <% activities.forEach(function(activity){ %>
        <% if(activity.type == 'PROJECT'){ %>
            <%- include('activity', {activity: activity}) %>
        <% } %>
    <% }); %>
</div>
</body>
</html>